.pacientes-container {
    width: 100%;
    max-width: 1180px;
    min-width: 500px;
    padding: 0 30px;
    margin: 32px auto;
}

.pacientes-container header {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 30px;
}

.pacientesContainerInfo {
    display: flex;
    justify-content: space-between;
}

#listaConsultas {
    width: 70%;
}

#listaTreinos {
    width: 70%;
}

#formUpdatePaciente {
    width: 40%;
}

.consultas {
    display: none;
}

.treinos {
    display: none;
}

.updatePacientes {
    background: #f8f9fa;
    padding: 25px;
    width: 70%;
    display: none;
    border-radius: 10px;

}

