.novoPaciente-container {
    width: 50%;
    max-width: 1120px;
    height: 100vh;
    margin: 32px auto;
}

.novoPaciente-container header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.novoPaciente-container header span {
    font-size: 40px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 500;
}

.novoPaciente-container header .btn-group a {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    border: 2px solid #dcdce6;
    background: transparent;
    margin-left: 2px;
    margin-right: 2px;
    transition: border-color 0.2s;
    text-align: center;
    float: left;
}

.novoPaciente-container .content {
    width: 100%;
    padding: 96px;
    margin: auto;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

 .novoPaciente-container .content section {
    width: 100%;
    max-width: 400px;
} 

 .novoPaciente-container .content section h1 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}  

.novoPaciente-container .content form {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
}

.novoPaciente-container .content form input {
    width: 100%;
    height: 50px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 10px;
    padding: 0 25px;
    margin-bottom: 10px;
}

.novoPaciente-container .content form p a {
    width: 100%;
    height: 70px;
    background: #333;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: medium;
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
}

.myForm {
    /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
    /* font-size: 0.8em; */
    width: 30em;
    padding: 1em;
    border: 1px solid #ccc;
    }
    
    .myForm * {
    box-sizing: border-box;
    margin: 5px;
    }
       
    .myForm legend,
    .myForm label {
    padding: 0;
    font-weight: bold;
    }
    
    .myForm label.choice {
    /* font-size: 0.9em; */
    font-weight: normal;
    }
    
    .myForm label {
    text-align: left;
    display: block;
    }
    
    .myForm input[type="text"],
    .myForm input[type="tel"],
    .myForm input[type="email"],
    .myForm input[type="datetime"],
    .myForm input[type="number"],
    .myForm input[type="date"],
    .myForm select,
    .myForm textarea {
    float: right;
    width: 60%;
    border: 1px solid #ccc;
    /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
    /* font-size: 0.9em; */
    padding: 0.3em;
    }
    
    .myForm textarea {
    height: 100px;
    }
    
    .myForm input[type="radio"],
    .myForm input[type="checkbox"] {
    margin-left: 40%;
    }
    
    .myForm button {
    padding: 1em;
    border-radius: 0.5em;
    background: #ccc;
    border: #333;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 1.8em;
    }
    
    .myForm button:hover {
    color: #ccc;
    background: #333;
    cursor: pointer;
    }