.consultas-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.consultas-container .consultas {
    display: block;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 30px;
    background: #A9A9A9;
    padding: 24px;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.consultas-container .consultas p {
    margin-bottom: 5px;
    font-size: 20px;
}

.consultas-container .consultas .tratamento {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    border: 2px solid #ddd;
}

