.treinos-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.treinos-container header {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 30px;
}

.treinos-container .container {
    width: 100%;
    background: #f8f9fa;
}

.treinos-container .container form {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
}


