.profile-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.profile-container header {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 30px;
}

.profile-container .container {
    width: 100%;
    margin-top: 80px;
    background: #f8f9fa;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.statsProfile {
    width: 60%;
    padding: 20px;
    margin-top: 30px;
    margin-left: 10px;
}

#formUpdatePaciente {
    display: none;
}