.homepage-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.homepage-container header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.homepage-container header span {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

.homepage-container ul {
  display: grid;
  grid-template-columns:1fr;
  grid-gap: 5px;
  list-style: none;
  text-align: left;
}

.homepage-container ul li {
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    font-size: 25px;
}

.homepage-container ul li a {
    color: inherit;
    text-decoration: inherit;
}