.homepage-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.homepage-container header {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 30px;
}


